/* Reset some default styles for consistency */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}

header {
    background-color: #000080;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

section {
    padding: 20px;
    background-color: #ffe4e1;
    margin: 20px;
    border-radius: 5px;
}

.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
}

footer {
    text-align: center;
    background-color: #000080;
    color: #fff;
    padding: 10px 0;
}
